    newsletter {
  background-color: #666;
  padding: 50px 0;
  text-align: center;
}

#newsletter-form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#email {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.btn {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049;
}

#newsletter-msg {
  margin-top: 10px;
  color: #fff;
  font-size: 0.9rem;